<% content_for :head do %>
	<script type="text/javascript" src="javascripts/dex2-cards.js"></script>
<% end %>

<div id="card_operations_area" <h4>
	<div><h4>Template:<nbsp/>
		<select id="option_select_template" 
			data-bind="options: templates, 
								 optionsText: 'name', 
								 optionsCaption: 'Select Template...',
								 event: { change: templateSelectionChanged }">
		</select></h4>
	</div>
	<div>
		<input type="radio" name="action" id="action_create">Create</input>
		<input type="radio" name="action" id="action_search">Search</input>
	</div>
	<table class="properties" data-bind="with: selectedTemplate" style="border:1px solid black;">
		<thead><tr><th>Property</th><th>Type</th><th>Value</th></tr></thead>
		<tbody>
			<tr>
				<td style="border:1px solid black;"><b>Title</b></td>
				<td style="border:1px solid black;">StringProperty</td>
				<td style="border:1px solid black;">
					<input type="text" id="value_title" name="" />
				</td>
			</tr>
			<!-- ko foreach: properties -->
			<tr>
				<td data-bind="text: name" style="border:1px solid black;"></td>
				<td data-bind="text: type" style="border:1px solid black;"></td>
				<td data-bind="" style="border:1px solid black;">
					<input type="text" data-bind="attr: {id: 'value_'+name, name:'value_field'}" />
				</td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
	<button id="search_cards" data-bind="click: doCardAction">Go !</button>
	<hr/>
	<div id="card_list">
		<table>
			<thead id="card_list_header" data-bind="with: selectedTemplate">
				<th>Title</th>
				<!-- ko foreach: properties -->
				<th data-bind="text: name"></th>
				<!-- /ko -->
			</thead>
			<tbody id="card_list_body" data-bind="with: searchResults">
				<!-- ko foreach: card -->
				<tr>
					<td data-bind="text: title" ></td>
					<!-- ko foreach: values -->
					<td data-bind="text: $data"></td>
					<!-- /ko -->
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>
</div>
